body{
    margin:0;
    padding:0;
    background-color:black;
}
h1{
    color:white;
    text-align:center;
    font-size:8rem;
    font-weight:bold;
    text-decoration:underline;
}
img{
    background-size:cover;
}
.container{
    text-align:center;
    
}
.btn {
    border: 3px solid red;
    border-radius: 20px;
    background-color: blue;
    padding: 10px 20px;
    font-size: 50px;
    cursor: pointer;
    margin: 10px;
    color: black;
  
}
.btn:hover {
    color: white;
    background-color: black;
}